{% extends 'base.html' %}
  {% load static %}
      {% block custom_css %}
          <link rel="stylesheet" type = 'text/css' href="{% static 'css/log_styles.css' %}">
      {% endblock %}
    {% block custom_title %}
        <title>Contact | Top Three</title>
    {% endblock %}

    {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h1 class="text-center">CONTACT US</h1>
            <form class="form-signin" action="" method="POST">
              {% csrf_token %}
              {% for field in form%}
                <div class="form-label-group">
                  {{ field.errors }}
                  {{ field }}
                  {{ field.label_tag }}
                </div>
              {% endfor %}
              <div class="text-center">
                <input type="submit" value="Send" class="btn btn-info btn-lg">
              </div>

            </form>
          </div>
        </div>
      </div>
    {% endblock %}
