{% extends 'base.html' %}
  {% load static %}
  {% block custom_title %}
    <title>Home | Top Three</title>
  {% endblock %}
  {% block custom_css %}
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/home_styles.css' %}">
  {% endblock %}
  {% block content %}

  <div class="container">
    <div class="row">
      <div class="col">
        <div id="home-content">
          <h1>Vote For Your Favourite!</h1>
          <h3>Your Voice Matters!</h3>
          <hr>
          <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-info btn-lg">Get Started!</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
